.modal-header-title {
	font-weight: lighter; 
	margin: 0 auto;
}

.spinner {
	width: 120px; 
	height: 120px; 
	margin: 0 auto;
}

.sidebar-title {
	font-size: 19px;
}

.remove-resize {
	resize: none;
}

.center {
	margin: 0 auto;
	text-align: center;
}

.m-top-10 {
	margin-top: 10px;
}

.m-bottom-20 {
	margin-bottom: 20px;
}

.text-white {
	color: #fff;
}

.draggable-container--is-dragging {
  /*background-color: rgba(0, 0, 0, 0.15);*/
}

.draggable-container--is-dragging * {
	opacity: 0.75;
}

.draggable-source--is-dragging {
 	opacity: 1;
}

.draggable--original { 
	background-color: red; 
}

.cards {
	cursor: pointer;
}

.cards-container {
	margin-left: 17px; 
	margin-top: 50px; 
	height: 300px; 
	width: 250px;
	float: left;
}

#cards-sub-container {
	height: 300px; 
	width: 250px;
}

.card-button {
	margin-left: -20px; 
	margin-top: -15px; 
	width: 80px; 
	height: 80px;
}

.modal-add-widget-header, .modal-edit-widget-header, .modal-invalid-message {
	font-weight: bold; 
	text-transform: uppercase; 
	font-size: 20px; 
	text-align: left;
}

.left {
	float: left;
}